
@{
    <!DOCTYPE html>
    ViewBag.Title = "Adding personal information";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
}

<div class="jumbotron">
</div>

<h2>You profile</h2>

<table>
    @foreach (var c in Model)
    {
        <tr><td><p>Your first name: </p></td><td>@c.</td></tr>
        <tr><td><p>Your last name: </p></td><td>@ViewBag.ClientDetails.LastName</td></tr>
        <tr><td><p>Your phone number: </p></td><td>@ViewBag.ClientDetails.PhoneNr</td></tr>
        <tr><td><p>Your email: </p></td><td>@ViewBag.ClientDetails.Email</td></tr>
    }
</table>
@*<table>
    <tr><td><p>Your first name: </p></td><td>@ViewBag.ClientDetails.FirstName</td></tr>
    <tr><td><p>Your last name: </p></td><td>@ViewBag.ClientDetails.LastName</td></tr>
    <tr><td><p>Your phone number: </p></td><td>@ViewBag.ClientDetails.PhoneNr</td></tr>
    <tr><td><p>Your email: </p></td><td>@ViewBag.ClientDetails.Email</td></tr>
</table>*@

<p>@Html.ActionLink("Create profile", "CreateProfile", "Home")</p>
<p>@Html.ActionLink("Edit profile", "EditProfile", "Home", new { id = ViewBag.ClientDetails.ClientID})</p>